body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading {
    position: absolute;
    //position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: #CCCCFF; /*limegreen;*/
    font-size: 70px;
    font-family:'Courier New', monospace ;
    text-shadow: 2px 2px 4px #f2e2cd;// #cccccc; // #999999; // #ffffff; // #000000; 
}
.heading h3 {
    color: wheat;
    font-size: 20px;
    font-family: 'Snell Roundhand', cursive;
}

